.main_layout {
  display: flex;
  position: relative;
  background-color: #fdfdfd;
  height: 100vh;
}

.sidebar {
  height: 100%;
  position: relative;
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
}

.content {
  flex-grow: 1; /* Make the content take the available space */
  overflow-x: hidden;
}
